body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2, h5 {
    font-weight: normal;
}

.img {
    display: flex;
    flex-direction: row;
    margin-left: 48vw;
    margin-top: 10vh;
}

.signin {
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40.5vw;
    margin-top: 10vh;
    align-items: center;
    height: min-content;
    width: min-content;
}

.signin h2 {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 30px;
}

.signin h5{
    margin-left: 20px;
    margin-top: 0px;
}

.email {
    display: flex;
    flex-direction: column;
    padding-right: 75px;
}

.password {
    margin-right: 425px;
}

#pass {
    position: absolute;
    margin-top: 17px;
}

.forgot a{
    text-decoration: none;
    color: blue;
    font-size: 15px;
    position: absolute;
    margin-top: 17px;
    margin-left: 35px;
}

/* #pass {
    margin-top: 25px;
    margin-left: 80px;
    position: relative;
    z-index: 1;
} */

/* #forgot {
    margin-left: 275px;
    position: relative;
    z-index: 2;
} */

input[type="text"] {
    height: 30px;
    width: 400px;
    margin-left: 20px;
    font-size: 17px;
}
.enterpassword input[type="text"] {
    margin-top: 25px;
}

.enterpassword input[type="submit"] {
    margin-left: 25px;
    height: 30px;
    width: 400px;
    position: relative;
    margin-top: 20px;
}

#submit {
    box-sizing: content-box;
    width: 77%;
    background-color: RGB(255, 191, 15);
    margin-top: 20px;
    border: 0.1px solid black;
}

.needhelp {
    margin-right: 300px;
}

.separator {
    font-size: 15px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    color: rgb(94, 92, 92);
}

.separator::before, .separator::after {
    flex: 1;
    content: "";
    padding: 3px;
    background: linear-gradient(to right, transparent, lightgray, transparent);;
    align-items: center;
}

.newaccount {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.newaccount input {
    width: 15%;
    height: 30px;
}

hr {
    margin: 70px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#conditions, #privacy, #help {
    margin-right: 20px;
    font-size: 13px;
    text-decoration: none;
    color: blue
}

#legal {
    font-size: 13px;
}