body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2, h5 {
    font-weight: normal;
}

.img {
    display: flex;
    flex-direction: row;
    margin-left: 48vw;
    margin-top: 15vh;
}

.signin {
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 41vw;
    margin-top: 15vh;
    align-items: center;
    height: min-content;
    width: min-content;
}

.signin h2 {
    margin-top: 5px;
    margin-left: 20px;
    font-size: 30px;
}

.signin h5{
    margin-left: 20px;
    margin-top: 0px;
}

.email {
    display: flex;
    flex-direction: column;
    padding-right: 75px;
}

.password a{
    text-decoration: none;
    color: blue;
    font-size: 15px;
}

#pass {
    margin-top: 25px;
    margin-left: 80px;
    position: relative;
    z-index: 1;
}

#forgot {
    margin-left: 275px;
    position: relative;
    z-index: 2;
}

input[type="text"] {
    height: 30px;
    width: 400px;
    margin-left: 20px;
}

.password input[type="submit"] {
    margin-left: 25px;
    height: 30px;
    width: 400px;
}

#submit {
    box-sizing: content-box;
    width: 77%;
    background-color: RGB(255, 191, 15);
    margin-top: 20px;
    border: 0.1px solid black;
}

.separator {
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
}

/* .separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid lightgray;
}

.separator:not(:empty)::before {
    margin-right: .25em;
}

.separator:not(:empty)::after {
    margin-left: .25em;
} */

/* Got the above commented code from Stackoverflow. It creates a
horizontal line that crosses the "New To Amazon?" text. Decided to 
comment it out as it is not my solution. */

.newaccount {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.newaccount input {
    width: 15%;
    height: 30px;
}

hr {
    margin: 70px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#conditions, #privacy, #help {
    margin-right: 20px;
    font-size: 13px;
    text-decoration: none;
    color: blue
}

#legal {
    font-size: 13px;
}